.contact {
  padding-bottom: 12rem;
}

.contact-section {
  padding: 7.2rem 2.4rem;
  background-color: var(--peach);
  text-align: center;
  color: var(--white);
  background-image: url("../assets/contact/mobile/bg-pattern-hero-contact-mobile.svg");
  background-position: top left -92px;
  background-repeat: no-repeat;
}

.contact-section .main-heading {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 3.6rem;
}

.contact-section .paragraph {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-top: 2.4rem;
}

.contact-form {
  margin-top: 4.8rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.input-wrapper {
  position: relative;
}

.form-input {
  display: block;
  width: 100%;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.6rem;
  color: var(--white);
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--white);
  padding: 0 1.377rem 1.1rem;
}

.form-input:focus {
  outline: none;
  border-bottom: 3px solid var(--white);
}

.form-input::placeholder {
  color: var(--white);
  opacity: 0.5;
}

.contact-form .btn-light {
  padding: 1.8rem 4.7rem 1.6rem 4.8rem;
  margin: 1.5rem auto 0;
}

/* Media Queries */
@media (min-width: 700px) {
  .contact-section {
    width: min(89.71354%, 689px);
    margin-inline: auto;
    padding: 7.1rem 5.8rem;
    text-align: left;
    border-radius: 15px;
    background-image: url("../assets/contact/desktop/bg-pattern-hero-desktop.svg");
    background-position: bottom 154px left -121.55px;
  }

  .contact-section .main-heading {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }

  .contact-section .paragraph {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-top: 3.2rem;
  }

  .contact-form {
    margin-top: 4rem;
  }

  .form-input {
    padding: 0 2.413rem 1.2rem;
  }

  .contact-form .btn-light {
    padding: 1.7rem 4.7rem 1.7rem 4.8rem;
    margin: -0.1rem 0 0 auto;
  }
}

@media (min-width: 1220px) {
  .contact {
    background-image: url("../assets/shared/desktop/bg-pattern-leaf.svg");
    background-repeat: no-repeat;
    background-position: bottom -160px right;
    padding-bottom: 16rem;
  }

  .contact-section {
    width: min(77.15278%, 1111px);
    padding: 5.5rem 9.6rem 5.4rem 9.5rem;
    display: flex;
    align-items: center;
    gap: 9.5rem;
    background-position: bottom left;
  }

  .contact-section .content-wrapper {
    width: 44.5rem;
  }

  .contact-form {
    margin-top: 0;
    flex: 1;
  }

  .form-input {
    padding: 0 1.6rem 1.1rem;
  }

  .btn-submit:hover {
    cursor: pointer;
  }
}
