.home {
  padding-bottom: 31.1rem;
}

.home .hero {
  padding: 8rem 2.4rem 45.1rem;
  background-image: url("../assets/home/desktop/image-hero-phone.png");
  background-repeat: no-repeat;
  background-position: center bottom -370px;
}

.home .main-heading {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 3.6rem;
}

.home .hero .paragraph {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-top: 1.4rem;
}

.home .btn-light {
  margin-top: 2.4rem;
  padding: 1.8rem 2.5rem 1.6rem 2.4rem;
}

.qualities {
  margin: 12rem auto 0;
  grid-template-columns: 1fr;
  gap: 8rem;
}

.quality {
  text-align: center;
  color: var(--dark-grey);
}

.quality:nth-child(1) > .illustration-wrapper::before {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.quality::nth-child(2) > .illustration-wrapper::before {
  transform: matrix(0, 1, 1, 0, 0, 0);
}

.quality:nth-child(3) > .illustration-wrapper::before {
  transform: matrix(0, -1, -1, 0, 0, 0);
}

.quality-illustration {
  width: 202px;
  margin-inline: auto;
}

.quality .section-heading {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.6rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: 4.8rem;
}

.quality .paragraph {
  margin-top: 3.2rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
}
