.footer {
  background: var(--black);
  padding-bottom: 6.4rem;
  position: relative;
}

.footer .container {
  margin-inline: auto;
  text-align: center;
  color: var(--white);
  padding-top: 6.4rem;
}

.cta + .container {
  padding-top: 25.3rem;
}

.footer .logo {
  margin: 0 auto;
}

.contact-detail {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  opacity: 0.5;
  display: block;
}

.contact-detail.contact-detail-heading {
  font-weight: 700;
  margin-top: 4rem;
}

.social-icons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.6rem;
  margin-top: 4rem;
}

.social-icon {
  height: 2.4rem;
}

/* Media Queres */
@media (min-width: 376px) {
  .footer {
    padding-bottom: 8rem;
  }

  .footer .container {
    padding-top: 8rem;
  }

  .cta + .container {
    padding-top: 16.6rem;
  }

  .footer .content-wrapper:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--white-transparent);
    padding-bottom: 4rem;
  }

  .footer .logo {
    margin: 0;
  }

  .footer .content-wrapper:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
  }

  .contact-detail {
    text-align: left;
  }

  .contact-detail.contact-detail-heading {
    margin-top: 0;
  }

  .social-icons-wrapper {
    align-self: flex-end;
    margin-top: 0;
  }
}
