.header {
  margin: 3.5rem auto 3.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Media Queries */
@media (min-width: 376px) {
  .header {
    margin: 6.4rem auto;
  }

  .mobile {
    display: none;
  }
}
