/* Shared Styles */

.container {
  width: min(87.2%, 327px);
}

.logo {
  width: 202px;
}

.btn-light {
  display: inline-block;
  background: var(--white);
  border-radius: 8px;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--dark-grey);
}

.hero {
  background-color: var(--peach);
  color: var(--white);
  text-align: center;
}

.grid {
  display: grid;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
