/* Shared Styles */

.container {
  width: min(87.2%, 327px);
}

.logo {
  width: 202px;
}

.btn {
  display: block;
  width: fit-content;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn-light {
  background: var(--white);
  color: var(--dark-grey);
}

.btn-dark {
  background: var(--peach);
  color: var(--white);
}

.hero {
  background-color: var(--peach);
  color: var(--white);
  text-align: center;
}

.grid {
  display: grid;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.illustration-wrapper {
  position: relative;
}

.illustration-wrapper::before {
  content: "";
  width: 202px;
  height: 202px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-inline: auto;
  background: linear-gradient(
    90deg,
    rgba(93, 2, 2, 0.0001) 0%,
    rgba(93, 2, 2, 0.497569) 100%
  );
  opacity: 0.2;
  border-radius: 50%;
}
