/* Shared Styles */

.container {
  width: 87.2%;
}

.logo {
  width: 202px;
}

.btn {
  display: block;
  width: fit-content;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn-light {
  background: var(--white);
  color: var(--dark-grey);
}

.btn-dark {
  background: var(--peach);
  color: var(--white);
}

.hero {
  background-color: var(--peach);
  color: var(--white);
  text-align: center;
}

.grid {
  display: grid;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.illustration-wrapper {
  position: relative;
}

.illustration-wrapper::before {
  content: "";
  width: 202px;
  height: 202px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-inline: auto;
  background-image: url("./assets/shared/desktop/bg-pattern-small-circle.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.lock-scroll {
  overflow: hidden;
}

/* Media Queries */
@media (min-width: 700px) {
  .container,
  .hero {
    width: min(89.71354%, 689px);
  }

  .hero {
    margin-inline: auto;
    border-radius: 15px;
  }
}

@media (min-width: 1220px) {
  .container,
  .hero {
    width: min(77.15278%, 1111px);
  }

  .btn-light:hover {
    color: var(--white);
  }

  .btn-light:hover,
  .btn-dark:hover {
    background-color: var(--light-peach);
  }
}
