@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap");

:root {
  --primary-font: "Jost", sans-serif;
  --peach: hsla(11, 73%, 66%, 1);
  --light-peach: hsla(11, 100%, 80%, 1);
  --very-light-peach: hsla(14, 76%, 97%, 1);
  --black: hsla(270, 3%, 11%, 1);
  --black-transparent: hsla(0, 0%, 0%, 0.5);
  --dark-grey: hsla(264, 5%, 20%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --light-grey: hsla(210, 17%, 95%, 1);
}

/* General Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--primary-font);
  font-size: 1.6rem;
}

img,
svg {
  display: block;
}

button {
  background: none;
  border: none;
  font: inherit;
}

a {
  text-decoration: none;
}
